# Credit Card Clients Dataset

In [ ]:
# Training block doesn't finish executing

In [1]:
#importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn

#Importing Default Credit Card Clients training Dataset
dataset = pd.read_excel('C:/Users/emnsrjm/Desktop/Courses/Machine Learning/Project/Project/Machine-Learning-Project/classification-models/Default of credit card clients/data/default of credit card clients.xls',header=1)
data = pd.DataFrame(dataset)

X = data.iloc[:, 1:23].values
Y = data.iloc[:, 23].values

print(data)
print(X.shape)
print(Y.shape)

          ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  \
0          1      20000    2          2         1   24      2      2     -1
1          2     120000    2          2         2   26     -1      2      0
2          3      90000    2          2         2   34      0      0      0
3          4      50000    2          2         1   37      0      0      0
4          5      50000    1          2         1   57     -1      0     -1
5          6      50000    1          1         2   37      0      0      0
6          7     500000    1          1         2   29      0      0      0
7          8     100000    2          2         2   23      0     -1     -1
8          9     140000    2          3         1   28      0      0      2
9         10      20000    1          3         2   35     -2     -2     -2
10        11     200000    2          3         2   34      0      0      2
11        12     260000    2          1         2   51     -1     -1     -1
12        13     630000    2          2         2   41     -1      0     -1
13        14      70000    1          2         2   30      1      2      2
14        15     250000    1          1         2   29      0      0      0
15        16      50000    2          3         3   23      1      2      0
16        17      20000    1          1         2   24      0      0      2
17        18     320000    1          1         1   49      0      0      0
18        19     360000    2          1         1   49      1     -2     -2
19        20     180000    2          1         2   29      1     -2     -2
20        21     130000    2          3         2   39      0      0      0
21        22     120000    2          2         1   39     -1     -1     -1
22        23      70000    2          2         2   26      2      0      0
23        24     450000    2          1         1   40     -2     -2     -2
24        25      90000    1          1         2   23      0      0      0
25        26      50000    1          3         2   23      0      0      0
26        27      60000    1          1         2   27      1     -2     -1
27        28      50000    2          3         2   30      0      0      0
28        29      50000    2          3         1   47     -1     -1     -1
29        30      50000    1          1         2   26      0      0      0
...      ...        ...  ...        ...       ...  ...    ...    ...    ...
29970  29971     360000    1          1         1   34     -1     -1     -1
29971  29972      80000    1          3         1   36      0      0      0
29972  29973     190000    1          1         1   37      0      0      0
29973  29974     230000    1          2         1   35      1     -2     -2
29974  29975      50000    1          2         1   37      1      2      2
29975  29976     220000    1          2         1   41      0      0     -1
29976  29977      40000    1          2         2   47      2      2      3
29977  29978     420000    1          1         2   34      0      0      0
29978  29979     310000    1          2         1   39      0      0      0
29979  29980     180000    1          1         1   32     -2     -2     -2
29980  29981      50000    1          3         2   42      0      0      0
29981  29982      50000    1          2         1   44      1      2      2
29982  29983      90000    1          2         1   36      0      0      0
29983  29984      20000    1          2         1   44     -2     -2     -2
29984  29985      30000    1          2         2   38     -1     -1     -2
29985  29986     240000    1          1         2   30     -2     -2     -2
29986  29987     360000    1          1         2   35     -1     -1     -2
29987  29988     130000    1          1         2   34      0      0      0
29988  29989     250000    1          1         1   34      0      0      0
29989  29990     150000    1          1         2   35     -1     -1     -1
29990  29991     140000    1          2         1   41      0      0      0
29991  29992     210000    1          2         1   34      3      2      2
29992  29993      10000    1          3         1   43      0      0      0
29993  29994     100000    1          1         2   38      0     -1     -1
29994  29995      80000    1          2         2   34      2      2      2
29995  29996     220000    1          3         1   39      0      0      0
29996  29997     150000    1          3         2   43     -1     -1     -1
29997  29998      30000    1          2         2   37      4      3      2
29998  29999      80000    1          3         1   41      1     -1      0
29999  30000      50000    1          2         1   46      0      0      0

       PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0         -1  ...          0          0          0         0       689
1          0  ...       3272       3455       3261         0      1000
2          0  ...      14331      14948      15549      1518      1500
3          0  ...      28314      28959      29547      2000      2019
4          0  ...      20940      19146      19131      2000     36681
5          0  ...      19394      19619      20024      2500      1815
6          0  ...     542653     483003     473944     55000     40000
7          0  ...        221       -159        567       380       601
8          0  ...      12211      11793       3719      3329         0
9         -2  ...          0      13007      13912         0         0
10         0  ...       2513       1828       3731      2306        12
11        -1  ...       8517      22287      13668     21818      9966
12        -1  ...       6500       6500       2870      1000      6500
13         0  ...      66782      36137      36894      3200         0
14         0  ...      59696      56875      55512      3000      3000
15         0  ...      28771      29531      30211         0      1500
16         2  ...      18338      17905      19104      3200         0
17        -1  ...      70074       5856     195599     10358     10000
18        -2  ...          0          0          0         0         0
19        -2  ...          0          0          0         0         0
20         0  ...      20616      11802        930      3000      1537
21        -1  ...          0        632        316       316       316
22         2  ...      44006      46905      46012      2007      3582
23        -2  ...        560          0          0     19428      1473
24        -1  ...       5398       6360       8292      5757         0
25         0  ...      28967      29829      30046      1973      1426
26        -1  ...        -57        127       -189         0      1000
27         0  ...      17878      18931      19617      1300      1300
28        -1  ...       2040      30430        257      3415      3421
29         0  ...      17907      18375      11400      1500      1500
...      ...  ...        ...        ...        ...       ...       ...
29970      0  ...      49005       8676      19487     52951     64535
29971      0  ...      69674      71070      73612      2395      2500
29972      0  ...      29223      19616     148482      2000      3869
29973     -2  ...          0          0          0         0         0
29974      2  ...       2846       1585       1324         0      3000
29975     -1  ...       5924       1759       1824      8840      6643
29976      2  ...      51259      47151      46934      4000         0
29977      0  ...     141695     144839     147954      7000      7000
29978      0  ...     219409     216540     210675     10029      9218
29979     -2  ...          0          0          0         0         0
29980      0  ...      50360      19971      19694     10000      4000
29981      2  ...      28192      22676      14647      2300      1700
29982      0  ...      11328      12036      14329      1500      1500
29983     -2  ...       2882       9235       1719      2890      2720
29984     -1  ...       1993       1907       3319       923      2977
29985     -2  ...          0          0          0         0         0
29986     -2  ...          0          0          0         0         0
29987      0  ...     108047      93708      97353      3000      2000
29988      0  ...     245750     175005     179687     65000      8800
29989     -1  ...        780          0          0      9054         0
29990      0  ...     138262      49675      46121      6000      7000
29991      2  ...       2500       2500       2500         0         0
29992     -2  ...          0          0          0      2000         0
29993      0  ...      70626      69473      55004      2000    111784
29994      2  ...      77519      82607      81158      7000      3500
29995      0  ...      88004      31237      15980      8500     20000
29996     -1  ...       8979       5190          0      1837      3526
29997     -1  ...      20878      20582      19357         0         0
29998      0  ...      52774      11855      48944     85900      3409
29999      0  ...      36535      32428      15313      2078      1800

       PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
0             0         0         0         0                           1
1          1000      1000         0      2000                           1
2          1000      1000      1000      5000                           0
3          1200      1100      1069      1000                           0
4         10000      9000       689       679                           0
5           657      1000      1000       800                           0
6         38000     20239     13750     13770                           0
7             0       581      1687      1542                           0
8           432      1000      1000      1000                           0
9             0     13007      1122         0                           0
10           50       300      3738        66                           0
11         8583     22301         0      3640                           0
12         6500      6500      2870         0                           0
13         3000      3000      1500         0                           1
14         3000      3000      3000      3000                           0
15         1100      1200      1300      1100                           0
16         1500         0      1650         0                           1
17        75940     20000    195599     50000                           0
18            0         0         0         0                           0
19            0         0         0         0                           0
20         1000      2000       930     33764                           0
21            0       632       316         0                           1
22            0      3601         0      1820                           1
23          560         0         0      1128                           1
24         5398      1200      2045      2000                           0
25         1001      1432      1062       997                           0
26            0       500         0      1000                           1
27         1000      1500      1000      1012                           0
28         2044     30430       257         0                           0
29         1000      1000      1600         0                           0
...         ...       ...       ...       ...                         ...
29970      8907        53     19584     16080                           0
29971      2530      2556      3700      3000                           0
29972     25128     10115    148482      4800                           0
29973         0         0         0         0                           1
29974         0         0      1000      1000                           1
29975      5924      1759      1824      7022                           0
29976      2000         0      3520         0                           1
29977      5500      5500      5600      5000                           0
29978     10029      8049      8040     10059                           0
29979         0         0         0         0                           0
29980      5000      3000      4500      2000                           0
29981         0       517       503       585                           0
29982      1500      1200      2500         0                           1
29983      2890      9263      1824      1701                           0
29984      1999      3057      3319      1000                           0
29985         0         0         0         0                           0
29986         0         0         0         0                           0
29987     93000      4000      5027      4005                           0
29988      9011      6000      7000      6009                           0
29989       783         0         0         0                           0
29990      4228      1505      2000      2000                           0
29991         0         0         0         0                           1
29992         0         0         0         0                           0
29993      4000      3000      2000      2000                           0
29994         0      7000         0      4000                           1
29995      5003      3047      5000      1000                           0
29996      8998       129         0         0                           0
29997     22000      4200      2000      3100                           1
29998      1178      1926     52964      1804                           1
29999      1430      1000      1000      1000                           1

[30000 rows x 25 columns]
(30000, 22)
(30000,)

In [2]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
ID                            30000 non-null int64
LIMIT_BAL                     30000 non-null int64
SEX                           30000 non-null int64
EDUCATION                     30000 non-null int64
MARRIAGE                      30000 non-null int64
AGE                           30000 non-null int64
PAY_0                         30000 non-null int64
PAY_2                         30000 non-null int64
PAY_3                         30000 non-null int64
PAY_4                         30000 non-null int64
PAY_5                         30000 non-null int64
PAY_6                         30000 non-null int64
BILL_AMT1                     30000 non-null int64
BILL_AMT2                     30000 non-null int64
BILL_AMT3                     30000 non-null int64
BILL_AMT4                     30000 non-null int64
BILL_AMT5                     30000 non-null int64
BILL_AMT6                     30000 non-null int64
PAY_AMT1                      30000 non-null int64
PAY_AMT2                      30000 non-null int64
PAY_AMT3                      30000 non-null int64
PAY_AMT4                      30000 non-null int64
PAY_AMT5                      30000 non-null int64
PAY_AMT6                      30000 non-null int64
default payment next month    30000 non-null int64
dtypes: int64(25)
memory usage: 5.7 MB

In [3]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

C:\Users\emnsrjm\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)
C:\Users\emnsrjm\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.33, random_state = 0)

In [ ]:
# Model Accuracy
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB

names = ['KNeighborsClassifier', 'SVC', 'DecisionTreeClassifier', 'RandomForestClassifier','AdaBoostClassifier','LogisticRegression','GaussianNB']
models = [KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2),
          SVC(kernel = 'linear', random_state = 0),
          DecisionTreeClassifier(criterion = 'entropy', random_state = 0),
          RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0),
          AdaBoostClassifier(n_estimators=10,learning_rate=1),
          LogisticRegression(random_state = 0,solver='lbfgs',multi_class='ovr'),
          GaussianNB()]

accuracy= np.zeros(7)

for counter, model in enumerate(models):
    model.fit(X_train, Y_train)
    Y_pred=model.predict(X_test)
    accuracy[counter] = sklearn.metrics.accuracy_score(Y_test, Y_pred)*100
    print("Accuracy for " + names[counter] + ":",accuracy[counter])

Accuracy for KNeighborsClassifier: 21.4040404040404